@import '../../../scss/breakpoints.scss';
@import '../../../scss/colors.scss';
@import '../../../scss/mixins.scss';
@import '../../../scss/typhography.scss';



.heading {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

.title {
    font-weight: 700;
    font-size: 15px;
}

.profileInner {
    margin-top: 18px;
    padding: 27px 22px 26px 34px;
    background-color: #1C232D;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account {
    display: flex;
    align-items: center;
    gap: 31px;
    &:hover {
        .image {
            border: 5px solid $primaryTextHover;
        }
        .name {
            color: $primaryTextHover;
        }
    }
    cursor: pointer;
}

.image {
    border-radius: 50%;
    border: 5px solid #364152;
    img{
        border-radius: 50%;
    }
    transition: all .4s ease;
}

.profileInfo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: $primaryText;
    transition: all .4s ease;
}

.vk {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.stats {
    display: flex;
    align-items: center;
    gap: 18px;
}

.statsItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &:hover {
        .statsName {
            color: #E6E6F8;
        }
        .statsWrap {
            background-color: $primaryTextHover;
        }
    }
    cursor: pointer;
}

.statsName {
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    transition: all .4s ease;
}

.statsWrap {
    background-color: #222B39;
    padding: 8px 18px 10px 18px;
    border-radius: 12px;
    width: 142px;
    transition: all .4s ease;
}

.quantity {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: #e6e6f8;
}

.payHistory {
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.payedItem {
    display: flex;
    align-items: center;
    background-color: #1C232D;
    min-height: 70px;
    border-radius: 12px;
    cursor: pointer;
    transition: background .4s ease;
    &:hover {
        background-color: #222B39;
    }
}

.historyText {
    font-size: 14px;
    color: #e6e6f8;
    font-weight: 500;
    line-height: 16px;
}

.history {
    min-width: 596px;
}

.number {
 display: flex;
 gap: 12px;
 align-items: center;
padding-right: 26px;
padding-left: 25px;
height: 70px;
border-right: 1px solid rgba(54, 65, 82, .3);
}

.date {
    display: flex;
    gap: 12px;
    align-items: center;
   padding-right: 26px;
   padding-left: 25px;
   height: 70px;
   border-right: 1px solid rgba(54, 65, 82, .3);
}

.cost {
    display: flex;
    gap: 12px;
    align-items: center;
   padding-right: 43px;
   padding-left: 25px;
   height: 70px;
   border-right: 1px solid rgba(54, 65, 82, .3);
}

.status {
    display: flex;
    gap: 12px;
    align-items: center;
   padding-left: 30px;
   height: 70px;
}

.success {
    font-size: 14px;
    letter-spacing: 1.2%;
    font-weight: 900;
    color: $primaryGreen;
}

.inProcess{
    font-size: 14px;
    letter-spacing: 1.2%;
    font-weight: 900;
    color: #FF8C00;
}

.info {
    display: flex;
    margin-top: 21px;
    gap: 20px;
}

.referal {
 
}

.icon {
    transition: all .4s ease;
    cursor: pointer;
    &:hover {
        color: $primaryTextHover;
    }
}

.refBody {
    margin-top: 19px;
    padding: 38px 23px 32px 23px;
    border-radius: 12px;
    background-color: #1C232D;
}

.refTitle {
    font-size: 15px;
    font-weight: 500;
    &:not(:first-child){
        margin-top: 31px;
    }
}

.urlWrap {
    margin-top: 18px;
    padding: 18px 16px 18px 26px;
    background-color: #222B39;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

.url {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.refPercent {
    margin-top: 19px;
    display: flex;
    gap: 16px;
}

.refItem {
    width: 100px;
    height: 80px;
    background-color: #222B39;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #E6E6F8;
    font-size: 20px;
    line-height: 140%;    
    transition: background .4s ease;
    cursor: pointer;
    &:hover {
        background-color: $primaryTextHover;
    }
}

.support {
    margin-top: 37px;
    border-radius: 12px;
    border: 5px solid $primaryTextHover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // min-width: 314px;
    // padding: 90px 40px 65px 40px;
    padding: 54px 48px 53px 48px;
    width: 100%;
    max-width: 314px;
    cursor: pointer;
}

.supportTitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.supportText {
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    text-align: center;
}